<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link rel="stylesheet" href="{{request.static_url('stock_portfolio:static/reset.css')}}">
    <link rel="stylesheet" href="{{request.static_url('stock_portfolio:static/base.css')}}">
    <link rel="stylesheet" href="{{request.static_url('stock_portfolio:static/layout.css')}}">
    <link rel="stylesheet" href="{{request.static_url('stock_portfolio:static/modules.css')}}">
    <title>Register Your Account</title>
</head>
<body>
    <header>
        <div class="site-title">
            <h1>In Stock</h1>
        </div>
        <nav>
            <ul>

                <li><a href="{{request.route_url('home')}}">Home</a></li>
                {% if request.authenticated_userid %}
                <li><a href="{{request.route_url('stock')}}">Add Stock</a></li>
                <li><a href="{{request.route_url('portfolio')}}">Portfolio</a></li>
                <li><a href="{{request.route_url('logout')}}">Logout</a></li>
                {% else %}
                <li><a href="{{request.route_url('auth')}}">Register</a></li>
                {% endif %}

            </ul>
        </nav>
    </header>
    <main>

        {% block content %}
        <p>No content</p>
        {% endblock content %}

    </main>
    <!-- <footer>
        <p>copyright 2018 | Tyler Fishbone</p>
    </footer> -->
</body>
</html>

