{% extends "base.jinja2" %}

{% block content %}

<li>
    <h3>Symbol: {{stock.symbol}}</h3>
    <h3>Company Name: {{stock.companyName}}</h3>
    <h3>Exchange: {{stock.exchange}}</h3>
    <h3>Industry: {{stock.industry}}</h3>
    <h3>Website: <a href="{{stock.website}}">{{stock.website}}</a></h3>
    <h3>Description:</h3>
    <p>{{stock.description}}</p>
    <h3>CEO: {{stock.CEO}}</h3>
    <h3>issueType: {{stock.issueType}}</h3>
    <h3>sector: {{stock.sector}}</h3>
    <hr>
</li>

{% endblock  %} %}