{% extends "base.jinja2" %}


{% block content %}

<form id="stock-search-form">
    <legend></legend>
    <fieldset>
        <input type="text" placeholder="Search stocks here">
        <button type="submit">Search</button>
    </fieldset>
</form>

{% endblock content %}